<div class="modal-header">
    <h2 class="panel-header">Are You Sure?</h2>
</div>
<div class="modal-body" >
    <ul class="list-group instructionsList text-center">
        <li class="list-group-item">
        Ability Scores <strong>cannot</strong> be changed after this.</li>
    </ul>
    <div class="center-block text-center largeText">
    <button class="btn btn-lg btn-danger btn-block btn-charSubmit" ng-click="controller.close()">Cancel</button>
    <button class="btn btn-lg btn-info btn-block btn-charSubmit" ng-click="controller.close();controller.save();">Save</button>
    </div>
</div>