<div class="modal-header">
    <h2 class="panel-header">Congratulations!</h2>
</div>
<div class="modal-body" >
    <ul class="list-group instructionsList">
        <li class="list-group-item"><strong>Half Elfs</strong> choose where their additional racial ability mods are placed.</li>
        <li class="list-group-item">1) Observe your scores and create a plan to optimize your character's strengths.</li>
        <li class="list-group-item">2) Click two white <span class="badge" style="float:none;margin-bottom:1%;">+1</span> counters to place an ability mod.</li>
    </ul>
    <div class="center-block text-center largeText">
    <button class="btn btn-lg btn-info btn-block" ng-click="controller.close()">OK</button>
    </div>
</div>