<div class="modal-header">
    <h2 class="panel-header">Instructions</h2>
</div>
<div class="modal-body" ng-click="controller.close()">
    <ul class="list-group instructionsList">
        <li class="list-group-item">
            <strong>Swap Rolls!</strong><br />
            To swap two rolls, simply click on two of your Ability Score numbers. You will know you have selected one when it begins to blink.
        </li>
        <li class="list-group-item">
            <strong>Know Your Strengths!</strong><br />
            The <span class="badge" style="float:none;margin-bottom:1%">+1</span> and <span class="badge" style="float:none;margin-bottom:1%">+2</span> 
            counters represent the bonuses you recieve from your race. ({{controller.title}})
        </li>
        <li class="list-group-item">
            <strong>Name Your Character!</strong><br />
            Think of an original name to give your adventurer, but stay away from special characters and obscene language.
        </li>
        <li class="list-group-item">
            <strong>Ability Scores?</strong><br />
            If you would like information on Ability Scores, click an Ability Scores corresponding tag; ex: "STR".
        </li>
    </ul>
</div>