@font-face{
    font-family: enchantedLand;
    src: url('/fonts/Enchanted Land.otf');
}

body {
    padding-top: 10px;
    padding-bottom: 20px;
    background-image: url("/images/seamlessBlueTile.jpg");
}
.bodyColumn{
    margin-right: 3%;
}
.modal {
 overflow-y: auto;
}
.modal-content{
    z-index: 2;
}
.tooltip{
    z-index:1020;
}
.alert{
    margin-bottom: 10px;
}
.vertNavBar{
    background-color: rgba(255,255,255,0);
   padding: 20px 0px 20px 0px;
   border: none !important;
}
.vertNavBar.active, .vertNavBar.active.focus, .vertNavBar.focus, .vertNavBar:active.focus, .vertNavBar:active:focus, .vertNavBar:focus{
    outline:0 !important;
}
.vertNavBar:hover{
    color:gray;
}

@media only screen and (max-width: 555px){
    .vertNavBar{
        padding: 40px 0px 40px 0px;
    }
}
.vertNavBarDiv .btn[disabled]{
    cursor:default;
}
.modal-open {
 overflow: auto;
}
.modal-open[style] {
    padding-right: 0px !important;
}

::-webkit-scrollbar {
    width: 15px;
}
 
::-webkit-scrollbar-track {
    opacity: .01;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: lightgrey;   
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: white; 
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.ng-invalid.ng-touched{
    color: #f4ffbd;
}
.panel-heading {
    padding-top: 2px;
    padding-bottom:2px;
    
}
.panel-body{
    padding: 5px;
}
.panel-header{
    display: block;
    cursor: default;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: enchantedLand;
    font-size: 3em;
}
.panel-header-scaleable{
    display: block;
    cursor: default;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    font-family: enchantedLand;
    font-size: 3em;
}
@media only screen and (max-width: 1200px){
    .panel-header-scaleable{
        padding-top: .25em;
        padding-bottom: .25em;
        font-size: 2em;
    }
}
.lowOpacity{
    opacity: .7;
}
.opacityHover:hover{
    opacity: .9;
}
.noPaddingTop{
    padding-top: 0;
}
.noMarginBottom{
    margin-bottom: 0;
}
.smallPadding{
    padding-top: 0;
    padding-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%
}
.hide{
    display: none;
}
.versionTable{
    font-size: 1.5em;
    margin-bottom: 1%;
}
#loginbutton, #registerbutton, #externalregisterbutton{
    max-width: 100%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    height: 3em;
    font-size: 1.5em;
}

.affix {
    top: 20px;
  }
.alert-warning{
    text-align: center;
    border-color: #158cba !important;
    background-color: #6fd1f8 !important;
    background-image: none;
}

.topLinkPanel{
    position: static;
    top: 20px;
    bottom: 20px;
}
.tableRow{
    cursor: default;
}
.largeText{
    font-size: 1.3em;
}
.hugeText{
    font-size: 1.5em;
}
.fadeIn{
    animation-duration: 1s;
    animation-name: fadein;
}
@keyframes fadein{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeOut{
    animation-duration: 1s;
    animation-name: fadeout;
}
@keyframes fadeout{
    from {
        opacity:1;
    }
    to{
        opacity:0;
    }
}
.btn-charSubmit:hover, .btn-charSubmit{
    margin-top: 0!important;
}
.socialProviders{
    font-size: 2em;
    margin-bottom: 0;
}
.socialProvider{
    font-size: 2.7vw;
}
#socialProvidersPanel{
    background-color: rgba(255, 255, 255, .5) !important;
}
.topRow{
    margin-top: 10px;
}
.Microsoft:hover{
    color: #289200;
}
.Twitter:hover{
    color: #00aced;
}
.Google:hover{
    color: #dd4b39;
}
.Microsoft, .Twitter, .Google{
    color:#555555;
}
.Microsoft:hover, .Google:hover, .Twitter:hover{
    text-decoration:none;
}
#quote {
    text-align: center;
}
#headlogo {
    margin-left:-34px;
}
#registerForm{
    margin-bottom: 0;
}
#creationFormElement{
    margin-bottom: 0%;
}
#creationFormSubmit{
    margin-top: 4%;
    height: 3em;
    font-size: 1.5em;
}
#saveFormSubmit{
    margin-top: 1%;
    height: 3em;
    font-size: 1.5em;
}
.creationFormDiv{
    margin-bottom: 0px;
}
.creationInstructions{
    display: inline-block;
    position: relative;
    font-size: 2em;
    margin-top: -38px;
    margin-right: .5%;
    float: right;
}
.creationInstructions:hover{
    color:grey;
}
.creationInformationTableLabel{
    font-size: 2.5vw;
    font-family: enchantedLand;
}
.proficiencyTableLabel{
    width: 30%;
    font-weight:bold;
    text-decoration: underline;
}
#Barbarian{
    font-size: 1.5em !important;
    padding-right: 4px;
}
@media only screen and (max-width: 991px){
    .creationInformationTableLabel{
        font-size: 1.6em;
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    .socialProvider{
        font-size:3.5vw;
    }
}
@media only screen and (max-width: 555px) {
    .socialProvider{
        font-size: 1.4em;
        display: block !important;
    }
}
.raceInformation{
    margin-bottom: 3%;
    margin-top: 3%;
}
.classInformation{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 3%;
    margin-top: 3%;
}
.spinIcon1{
    border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.spinIcon2{
    border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
@media (pointer:course) {
    .spinIcon2:active{
      -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
    }
    .spinIcon1:active{
      -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
    }
    #raceselect:active {
    color:grey;
}
}
@media (pointer:fine) {
    .spinIcon2:hover{
      -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
    }
    .spinIcon1:hover{
      -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
    }
    #raceselect:hover {
    color:grey;
}
}
.bumpUpLink{
    display: inherit;
    right: 1%;
    font-size: 5vw;
    padding: 10px;
}
@media only screen and (max-width: 991px){
    .bumpUpLink{
        right:.5%;
    }
}

@media only screen and (min-width: 551px){
    .vnbButton{
        font-size: 1em !important;
    }
}
#classtitle, #classproficiencies{
       background-color: #e6ffa7;
}
.creationFormInput{
    text-align-last: center;
    max-width:none;
    height: 2em;
    font-size: 2em;
}
.creationInformation{
    padding: 12px 0px 10px 12px;
    background: none;
}
.creationInformationText{
    padding: 10px 10px 10px 10px;
    display: block;
    margin-left: 8px;
    margin-right: 8px;
    background: white;
    border: none;
    border-radius: 6px;
}
.creationInformationBorder{
    padding-top: 5px !important;
    padding: 15px;
    border: 1px solid lightblue;
    border-radius: 6px;
}
.creationInformationHeader{
    color:deepskyblue;
    font-weight: bold;
    font-size: 3em;
    border: 1px solid lightblue;
    border-radius: 6px;
}
.raceDescription{
    color: deepskyblue;
}
@media only screen and (max-width: 991px){
    .raceDescription{
        color: #555555;
    }
}
#subracetitle, #subracialProficiencies {
        background-color: #fff4b7;
}

#backgroundtitle, #subraceproficiencies {
        background-color: #c3ffaa;
}
#questGuide{
    font:600;
}
.formLabel{
    display: block;
    text-align: center;
    font-size: 2.5em;
}
#confirmPassLabel{
    display: block;
    text-align: center;
    font-size: 2.2em;
}
#raceselect {
    color: #232323;
}

.abilitylink {
    color: black;
}
.abilitylink:hover {
    text-decoration: none;
}
.abilityTable{
    text-align:center;
    /*margin-left: 3%;*/
}
.abilitySwapTable td{
    width: 16.6%;
}
.abilityScoreMods td{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#loginerrors {
    list-style-type:none;
    margin-left: -30px;
    background-color: #fffeee;
}
.nameBadge{
    font-size: 1.5em;
}
.latestHeroStatblock{
    font-size: 1.5em;
    margin-bottom: 1%;
}
.latestHeroSubscript{
    display: block;
    padding-top: 17px;
    text-align: center;
    margin-bottom: 0px;
}
.latestHeroHeader{
    margin-bottom: 1%;
}
.abilityScoreDisplay{
    font-size: .8em;
    margin-left: .6%;
    margin-right: .5%;
}
.abilityScoreSwapDisplay{
    color: black;
    font-size: 1.4em;
}
.characterListBadge{
    margin-bottom: .5%;
}
.strColor{
    background-color: rgba(255, 127, 127, .3);
}
.dexColor{
    background-color: rgba(251, 127, 255, .3);
}
.conColor{
    background-color: rgba(251, 255, 127, .3);
}
.intColor{
    background-color: rgba(127, 138, 255, .3);
}
.wisColor{
    background-color: rgba(127, 255, 138, .3);
}
.chaColor{
    background-color: rgba(127, 255, 250, .3);
}
.strColor, .dexColor, .conColor, .intColor, .wisColor, .chaColor{
    padding: 2px;
    cursor: default;
    border: none;
    border-radius: 6px;
}
.instructionsList{
    font-size:1.4em;
    margin-bottom: 0px;
}


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.logininput:focus {
    background-color:#fffeee;
}
.inputlabel {
    margin-top:4px;
}
#equipmenttextarea {
    resize: none;
    height: 70px;
    min-width:540px;
    border: none;
}
#equipmenttextarea:disabled{
    background-color: white;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

#trait1, #trait2, #trait3, #trait4, #trait5, #trait6{
    text-decoration: none;
    color: black;
}
#trait1:hover, #trait2:hover, #trait3:hover, #trait4:hover, #trait5:hover, #trait6:hover {
    text-decoration:none;
}
#potentialStrMod, #potentialDexMod, #potentialConMod, #potentialWisMod, #potentialIntMod {
    background: white;
    font-weight:bold;
}

#potentialStrMod:active:after, #potentialDexMod:active:after, #potentialConMod:active:after, #potentialWisMod:active:after, #potentialIntMod:active:after {
    display:none;
}
#mainnavbar {
    align-content: center;
}
.navhighlight:hover{
    border: none;
    border-radius: 5px;
    background-color: rgba(236, 246, 255, 1);
    box-shadow: 0px 2px 2px #888888;
}
.navlink:hover{
    text-decoration:none;
    text-decoration-style: none;
}
.navlink:visited{
    text-decoration:none;
    text-decoration-style: none;
}
.navhighlight{
    box-shadow: 0px 2px 2px #888888;
}
.navhighlight, .navlink{
    padding: 4px;
    border: none;
    border-radius: 5px;
    background: rgba(236, 246, 255, .5);
    font-size: 1.1em;
}
#bannerLink{
    padding-bottom: 1%;
}
#loginbutton {
    margin-top: 10px;
}
.loggedInUser, #loggedInUser{
    font-size:1.2em;
    cursor: default;
}
#loggedInUser{
    color: #1984ae;
    font-weight: bold;
}
#characterListPanel{
    margin-bottom: 0px !important;
}
#superscript{
    font-style:normal;
    font-weight:100;
}
#mycharactername {
    background-color: #f4ffbd;
}
.tipText{
    font-size: 1em;
}
@media only screen and (max-width: 551px){
    .tipText{
        font-size: .8em;
    }
    .versionTable{
        font-size: 1em;
    }
    .latestHeroStatblock{
        padding-top: .5em;
        padding-bottom: .5em;
    }
}
.subscript{
    color: #1984ae;
}
.panel{
    background-color: rgba(255, 255, 255, .7) !important;
}
#adventureQuote{
    margin-top: 3px;
    cursor: default;
}
@media (min-width: 768px) {
    #adventureQuote{
        font-size: 1em !important;
    }
}
#Barbarian, #Bard, #Cleric, #Druid, #Fighter, #Monk, #Ranger, #Rogue, #Paladin, #Sorcerer, #Warlock, #Wizard,
#Dwarf, #Elf, .HalfElf, #Halfling, #Gnome, .HalfOrc, #Tiefling, #Acolyte, #Charlatan, #Criminal, #Entertainer,
#Hermit, #Noble, #Outlander, #Sage, #Sailor, #Soldier, #Urchin, .GuildArtisan, .FolkHero {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.6em;
    text-align: center;
    font-family: enchantedLand;
}
@keyframes blink{
    0% { opacity: 1;}
    50% { opacity: 0;}
    100% { opacity: 1;}
}
.preSwapTableData{
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
#newCharacterNameInput{
    width: 100%;
    max-width: 100%;
    height: 2em;
    font-size: 2em;
    text-align: center;
}
.latestHeroRaceClass{
    font-size: .8em;
}

/*#navhighlight:hover {
    display: inline;
    color: #fff3b2;
}*/
#whatsNewPanel, #characterListPanel, #latestHerosPanel{
    border-bottom-width: 1px;
}


.parallax1{
    background-image: url("/images/parallax1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
}
.parallax2{
    background-image: url("/images/parallax2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
}
.parallax3{
    background-image: url("/images/parallax3.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
}
.myCharacterRow{
    padding: 3%;
}

/*dungeon master page*/
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
background-image: linear-gradient(to bottom,#d9ffd6 0, #abffbb 75%) !important;
}
.creationPanel{
    
}
.creatureName{
    text-decoration:underline;
}
.creatureList{
    padding-top: .04%;
}
.instructions{
    opacity: .8;
}
.createMenu{
    
}
