<div class="container">
    <div class="row" id="theform">
        <!--STARTING DIV-->
        <div class="col-xs-1 col-md-2">

        </div>
        <div class="col-xs-10 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><h2 class="panel-header">New Character </h2>
                    <i class="fa fa-info-circle creationInstructions" tooltip-placement="bottom" tooltip-class="hugeText"
                       uib-tooltip="{{controller.tooltip.message}}" tooltip-is-open="{{controller.tooltip.open}}" ng-click="controller.showModal()"></i>
                </div> 
                <div class="panel-body">
                    <form method="get" action="/save" ng-submit="controller.savedata()" id="creationFormElement">
                        <div class="form-group creationFormDiv">
                            <label for="Class" class="formLabel"><a ng-click="controller.jumpTo(controller.class)"
                              id="raceselect"><i class="fa fa-cog spinIcon1" ></i></a> Class</label>
                            <select class="form-control creationFormInput" id="Class" ng-model="controller.class">
                                <option title="Rage, Unarmored Defense">Barbarian</option>
                                <option title="Bardic Inspiration, Spells">Bard</option>
                                <option title="Divin Domain, Spells">Cleric</option>
                                <option title="Druidic, Spells">Druid</option>
                                <option title="Heal, Extra Action">Fighter</option>
                                <option title="Martial Arts, Unarmored Defense">Monk</option>
                                <option title="Heal, Divine Smight">Paladin</option>
                                <option title="Favored Enemy, Natural Explorer">Ranger</option>
                                <option title="Sneak Attack, Lockpicking">Rogue</option>
                                <option title="Sorcerous Origin, Spells">Sorcerer</option>
                                <option title="Otherworldy Patron, spells">Warlock</option>
                                <option title="Cantrips, Spells">Wizard</option>
                            </select>
                        </div>
                        <div class="form-group creationFormDiv">
                            <label for="Race" class="formLabel"><a ng-click="controller.jumpTo(controller.race)"
                             id="raceselect"><i class="fa fa-user-circle-o spinIcon2"></i></a> Race</label>
                            <select class="form-control creationFormInput" id="Race" ng-model="controller.race" ng-change="controller.resetSubrace()">
                                <option title="+2 Con">Dwarf</option>
                                <option title="+2 Dex">Elf</option>
                                <option title="+2 Dex">Halfling</option>
                                <option title="+1 All">Human</option>
                                <option title="+2 Str, +1 Cha">Dragonborn</option>
                                <option title="+2 Int">Gnome</option>
                                <option title="+2 Cha, +2 Player Choice">Half Elf</option>
                                <option title="+2 Str, +1 Con">Half Orc</option>
                                <option title="+1 Int, +2 Cha">Tiefling</option>
                            </select>
                        </div>
                        <div class="form-group creationFormDiv">
                            <label for="SubRace" class="formLabel"><a ng-click="controller.jumpTo(controller.selectedSubrace)" 
                              id="raceselect"><i class="fa fa-user-circle spinIcon1"></i></a> Subrace</label>
                            <select class="form-control creationFormInput" id="SubRace" ng-model="controller.selectedSubrace">
                                <option title="{{item.title}}" ng-repeat="item in controller.subrace2 | filter: controller.race" >{{item.race}}</option>
                            </select>
                        </div>
                        <div class="form-group creationFormDiv">
                            <label for="Background" class="formLabel"><a ng-click="controller.jumpTo(controller.background)" 
                             id="raceselect"><i class="fa fa-id-card-o spinIcon2"></i></a> Background </label>
                            <select class="form-control creationFormInput" id="Background" ng-model="controller.background">
                                <option title="Insight, Religion">Acolyte</option>
                                <option title="Deception, Sleight of Hand">Charlatan</option>
                                <option title="Deception, Stealth">Criminal</option>
                                <option title="Acrobatics, Preformance">Entertainer</option>
                                <option title="Animal Handling, Survival">Folk Hero</option>
                                <option title="Insight, Persuasion">Guild Artisan</option>
                                <option title="Medicine, Religion">Hermit</option>
                                <option title="History, Persuasion">Noble</option>
                                <option title="Athletics, Survival">Outlander</option>
                                <option title="Arcana, History">Sage</option>
                                <option title="Atheltics, Perception">Sailor</option>
                                <option title="Athletics, Intimidation">Soldier</option>
                                <option title="Sleight of Hand, Stealth">Urchin</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-info btn-lg btn-block" id="creationFormSubmit">Create</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-1 col-md-2">
        </div>
    </div> <!--ENDING DIV-->
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-1 col-md-2">

        </div>
        <div class="col-xs-10 col-md-8 creationInformation">
            <div class="creationInformationText">
                <div class="creationInformationBorder">
                    <div id="classList" class="text-center creationInformationHeader">Class List</div>
                    <div class="row largeText raceInformation">
                        <div class="col-md-3 creationInformationTableLabel">
                            <strong><mark id="Barbarian">Barbarian</mark></strong>
                        </div>
                        <div class="col-md-9">
                            <strong class="raceDescription">Description:</strong>  A fierce warrior of primitive background who can enter a battle rage<br/>
                            <strong>Primary Ability:</strong>  Strength<br/>
                            <strong>Saving Throw Proficiencies:</strong>  Strength and Constitution<br/>
                            <strong>Armor and Weapon Proficiencies:</strong>  Light and medium armor, shields, simple and martial weapons
                        </div>
                    </div>
                    <div class="row largeText raceInformation">
                        <div class="col-md-3 creationInformationTableLabel">
                            <strong><mark id="Bard">Bard</mark></strong>
                        </div>
                        <div class="col-md-9">
                            <strong class="raceDescription">Description:</strong> The bard uses music and magic to support and inspire the rest of the party<br/>
                            <strong>Primary Ability:</strong> Charismma <br/>
                            <strong>Saving Throw Proficiencies:</strong> Dexterity and Charisma <br/>
                            <strong>Armor and Weapon Proficiencies:</strong> Light Armor, Simple Weapons, Hand Crossbows, Longswords, Rapiers, Shortswords
                        </div>
                    </div>
                    <div class="row largeText raceInformation">
                        <div class="col-md-3 creationInformationTableLabel">
                            <strong><mark id="Cleric">Cleric</mark></strong>
                        </div>
                        <div class="col-md-9">
                            <strong class="raceDescription">Description:</strong> Champions of the divine, clerics align with an aspect of their god and draw their spells and abilities from their faith<br />
                            <strong>Primary Ability:</strong> Wisdom <br />
                            <strong>Saving Throw Proficiencies:</strong> Wisdom and Charisma <br />
                            <strong>Armor and Weapon Proficiencies:</strong> Light Armor, Medium Armor, Shields, Simple Weapons
                        </div>
                    </div>
                    <div class="row largeText raceInformation">
                        <div class="col-md-3 creationInformationTableLabel">
                            <strong><mark id="Druid">Druid</mark></strong>
                        </div>
                        <div class="col-md-9">
                            <strong class="raceDescription">Description:</strong> Druids wield the power of nature against their foes<br />
                            <strong>Primary Abilities:</strong> Wisdom<br />
                            <strong>Saving Throw Proficiencies:</strong> Wisdom and Intelligence<br />
                            <strong>Armor and Weapon Proficiencies:</strong> Light Armor, Medium Armor, Shield (must not be made of metal)
                        </div>
                    </div>
                    <div class="row largeText raceInformation">
                        <div class="col-md-3 creationInformationTableLabel">
                            <strong><mark id="Fighter">Fighter</mark></strong>
                        </div>
                        <div class="col-md-9">
                            <strong class="raceDescription">Description:</strong> A master of martial combat, skilled with a variety of weapons and armor<br />
                            <strong>Primary Abilities:</strong> Strenght or Dexterity <br />
                            <strong>Saving Throw Proficiencies:</strong> Strength and Constitution<br />
                            <strong>Armor and Weapon Proficiencies:</strong> All armor, shields, simple and martial weapons
                        </div>
                    </div>
                    <div class="row largeText raceInformation">
                        <div class="col-md-3 creationInformationTableLabel">
                            <strong><mark id="Monk">Monk</mark></strong>
                        </div>
                        <div class="col-md-9">
                            <strong class="raceDescription">Description:</strong> Monks magically harness the energy that flows through their bodies<br />
                            <strong>Primary Abilities:</strong> Dexterity and Wisdom<br />
                            <strong>Saving Throw Proficiencies:</strong> Strength and Dexterity<br />
                            <strong>Armor and Weapon Proficiencies:</strong> None; Simple weapons, shortswords
                        </div>
                    </div>
                    <div class="row largeText raceInformation">
                        <div class="col-md-3 creationInformationTableLabel">
                            <strong><mark id="Ranger">Ranger</mark></strong>
                        </div>
                        <div class="col-md-9">
                            <strong class="raceDescription">Description:</strong> Masters of the wild and hunting<br />
                            <strong>Primary Abilities:</strong> Dexterity<br />
                            <strong>Saving Throw Proficiencies:</strong> Strength and Dexterity<br />
                            <strong>Armor and Weapon Proficiencies:</strong> Light and medium armor, shield, Simple weapons, martial weapons
                        </div>
                    </div>
                    <div class="row largeText raceInformation">
                        <div class="col-md-3 creationInformationTableLabel">
                            <strong><mark id="Rogue">Rogue</mark></strong>
                        </div>
                        <div class="col-md-9">
                            <strong class="raceDescription">Description:</strong> A scoundrel and stealthy warrior who uses stealth and trickery to overcome obstacles and enemies<br />
                            <strong>Primary Abilities:</strong> Dexterity<br />
                            <strong>Saving Throw Proficiencies:</strong> Dexterity and Intelligence<br />
                            <strong>Armor and Weapon Proficiencies:</strong> Light Armor, Simple Weapons, Hand crossbows, Longswords, Rapiers, Shortswords
                        </div>
                    </div>
                    <div class="row largeText raceInformation">
                        <div class="col-md-3 creationInformationTableLabel">
                            <strong><mark id="Paladin">Paladin</mark></strong>
                        </div>
                        <div class="col-md-9">
                            <strong class="raceDescription">Description:</strong> A holy warrior bound to a sacred oath<br />
                            <strong>Primary Abilities:</strong> Strength or Charisma<br />
                            <strong>Saving Throw Proficiencies:</strong> Wisdom and Charisma<br />
                            <strong>Armor and Weapon Proficiencies:</strong> All armor, shields, simple and martial weapons
                        </div>
                    </div>
                    <div class="row largeText raceInformation">
                        <div class="col-md-3 creationInformationTableLabel">
                            <strong><mark id="Sorcerer">Sorcerer</mark></strong>
                        </div>
                        <div class="col-md-9">
                            <strong class="raceDescription">Description:</strong> Magic is a part of every sorcerer, suffusing body, mind, and spirit with a latent power that waits to be tapped<br />
                            <strong>Primary Abilities:</strong> Charisma<br />
                            <strong>Saving Throw Proficiencies:</strong> Constitution and Charisma<br />
                            <strong>Armor and Weapon Proficiencies:</strong> none; Daggers, darts, slings, quarterstaffs, light crossbows
                        </div>
                    </div>
                    <div class="row largeText raceInformation">
                        <div class="col-md-3 creationInformationTableLabel">
                            <strong><mark id="Warlock">Warlock</mark></strong>
                        </div>
                        <div class="col-md-9">
                            <strong class="raceDescription">Description:</strong> A Warlocks magic is defined by a pact with an otherworldly Being<br />
                            <strong>Primary Abilities:</strong> Charisma<br />
                            <strong>Saving Throw Proficiencies:</strong> Wisdom and Charisma<br />
                            <strong>Armor and Weapon Proficiencies:</strong> Light Armor, Simple Weapons
                        </div>
                    </div>
                    <div class="row largeText raceInformation">
                        <div class="col-md-3 creationInformationTableLabel">
                            <strong><mark id="Wizard">Wizard</mark></strong>
                        </div>
                        <div class="col-md-9">
                            <strong class="raceDescription">Description:</strong> Master of the Arcane<br />
                            <strong>Primary Abilities:</strong> Intelligence<br />
                            <strong>Saving Throw Proficiencies:</strong> Intelligence and Wisdom<br />
                            <strong>Armor and Weapon Proficiencies:</strong> Daggers, darts, slings, quarterstaffs, light crossbows
                        </div>
                    </div>
                </div>
                    <hr />
                <div class="creationInformationBorder">
                    <div id="raceList" class="text-center creationInformationHeader">Race List</div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Dwarf">Dwarf</mark></strong>
                        </div>
                        <div class="text-justify">
                            Short and stout, grumpy but loyal, love digging, and tough as an old boot.
                            They get a +2 bonus to Constitution, have Darkvision, protection against poison, training with axe and hammer weapons,
                            training with several kinds of artisan's tools, the usual dwarven armored movement and stone knowledge. They get three subraces; Hill, Mountain, and Gray.
                            <br/><strong><mark id="Hill Dwarf">Hill Dwarves</mark></strong> are wiser (+1 Wisdom) and even tougher than regular dwarves, giving them extra maximum hit points equal to their character level.
                            <br/><strong><mark id="Mountain Dwarf">Mountain Dwarves</mark></strong> are more warlike, getting +2 Strength and free proficiency with light armor and medium armor.
                            The *only* subrace to offer two +2 bonuses now, balanced by the fact that the armor training will almost certainly be completely redundant to any class that would realistically make use of those stats.
                            However, it's a good choice for a squishy character who wants melee a bit, like a blade-pact warlock.
                            <br/><strong><mark id="Gray Dwarf">Duergar, or "Gray Dwarves"</mark></strong>, appear in the Sword Coast Adventurer's Guide.
                            In addition to the base dwarf Constitution bonus, they get a boost to Intelligence, Superior Darkvision (Darkvision 120 feet),
                            Duergar Resilience (Advantage on saving throws against Charm, Illusion and Paralysis effects),
                            and the spell-like abilities of Enlarge/Reduce (3rd level) and Invisibility (5th level), both usable once per long rest.
                            Uniquely, they recharge these spell-like abilities faster when in the Underdark, allowing them to use these spells once per short rest down there.
                            They also get Sunlight Sensitivity, though tweaked slightly;
                            in addition to taking disadvantage to attack rolls and Perception checks when they or their target is in direct sunlight,
                            they can't use their spell-like abilities if they're in direct sunlight.
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Elf">Elf</mark></strong>
                        </div>
                        <div class="text-justify">
                            Graceful, eerie, beautiful. Grace translates to a +2 bonus to Dexterity, keen senses give them Darkvision and proficiency in Perception,
                            they are resistant to charming and immune to sleep, and they trance instead of sleeping.
                            They get two subraces; high and wood.
                            <br/><strong><mark id="High Elf">High Elves</mark></strong> are the magically adept elite. They get +1 Intelligence, proficiency with long & short swords and bows,
                            an extra language, and the ability to cast one wizard cantrip of the player's choice.
                            <br/><strong><mark id="Wood Elf">Wood Elves</mark></strong> are the iconic forest-dwelling primal elves. +1 to Wisdom, same weapon proficiency as High Elves,
                            even quicker (they have base speed 35 feet, making them the fastest of the default races),
                            and they're extra adept at using natural phenomena for hiding.
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark class="HalfElf" id="Half Elf">Half Elf</mark></strong>
                        </div>
                        <div class="text-justify">
                            Half-Elves gain +2 Charisma, making them natural diplomats,
                            but also get +1 to two other ability scores of their choice, are automatically proficient in
                            two skills of their choice, as well as retaining the darkvision and resistances to charming and
                            sleep of their elven ancestors. They can also grow beards, something that may have been in previous
                            editions, but is directly addressed in this one. The best PHB race for any Cha-based class,
                            due to their tremendous versatility.
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Halfling">Halfling</mark></strong>
                        </div>
                        <div class="text-justify">
                            Small, cheerful, practical creatures, halflings try to make friends with anybody.
                            They usually don't have any greater goal beyond a simple, pleasant life.
                            They get +2 Dexterity, they're Small sized, their Lucky trait lets them reroll various results of 1,
                            they're resistant to fear effects and they can move through spaces occupied by creatures
                            that are Medium-sized or bigger. Their two subraces are lightfoot and stout.<br/>
                            <strong><mark id="Lightfoot Halfling">Lightfoot Halflings</mark></strong> are sneaky even by Halfling standards,
                            able to use Medium-sized or bigger creatures to hide behind and gaining +1 Charisma.<br/>
                            <strong><mark id="Stout Halfling">Stout Halflings</mark></strong> are rumored to have dwarf blood,
                            and so they get +1 Constitution and identical poison protection.
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Gnome">Gnome</mark></strong>
                        </div>
                        <div class="text-justify">
                            Crazy, hyper-energetic and insatiably curious, gnomes are also the only uncommon race in the corebook with full subraces,
                            assuming the dragonborn's choice of dragon doesn't count. +2 Intelligence, small-sized, Darkvision,
                            and advantage to any saving throw against magic that relies on Intelligence, Wisdom or Charisma.
                            <br/><strong><mark id="Forest Gnome">Forest Gnomes</mark></strong> are the more mystical, nature-affiliated gnomes, gaining +1 Dexterity,
                            having the minor illusion cantrip as a racial ability,
                            and being able to speak with any natural animal that is Small or smaller.
                            With Dragonlance supported, but the Kender race missing after playtest,
                            these seem to hold up as the kender replacement.
                            <br/><strong><mark id="Deep Gnome">Deep Gnomes</mark></strong> got added by the Elemental Evil Player's Guide web-feature from the WoTC website.
                            There was a printed reveal in the Sword Coast Adventurer's Guide, but the versions are absolutely identical.
                            These are the "svirfneblin", the Underdark-dwelling gnomes mentioned but mostly ignored in editions past.
                            They get +1 Dexterity, Superior Darkvision (so they see in the dark 120ft instead of 60ft),
                            and Stone Camouflage (advantage on Dexterity [Stealth] checks made in rocky terrain).
                            If Feats are allowed, they have a racial one called Svirfneblin Magic that lets them cast Nondetection (self-only) at will and Blindness/Deafness,
                            Blur and Disguise Self once per long rest.
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark class="HalfOrc" id="Half Orc">Half Orc</mark></strong>
                        </div>
                        <div class="text-justify">
                            Big scary bruisers, half-orcs get +2 strength and +1 constitution,
                            have darkvision, are automatically proficient in the Intimidation skill,
                            are harder to kill than other races, and deal much nastier criticals with melee weapons.
                            This effectively makes them the best barbarians in the game, and gives barbarian-like
                            abilities to any other classes. New design eliminates the culturally awkward standard of
                            male orcs forcing themselves on human women, to the point of actually raising the idea
                            that the race could be used for playing a half-dwarf, half-orc.
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark class="HalfOrc" id="Human">Human</mark></strong>
                        </div>
                        <div class="text-justify">
                            Just as readily as they mix with each other, humans mingle with members of other races. They get along
                            with almost everyone, though they might not be close to many. Humans serve as ambassadors, diplomats,
                            magistrates, merchants, and functionaries of all kinds. Humans get +1 to every ability, can speak, read, and write
                            common and once extra language of your choice, and vary on alignment. 
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Tiefling">Tiefling</mark></strong>
                        </div>
                        <div class="text-justify">
                            Following in the footsteps of 4e, with a unified (if still very variable)
                            appearance and a tiefling racial backlore as "descendants of a cursed empire" rather than
                            "spawn of a human and a fiend". +1 Intelligence, +2 Charisma, resistant to fire,
                            darkvision and "Infernal Legacy", which gives them three warlock spells as racial abilities;
                            the Thaumaturgy cantrip (level 1), Hellish Rebuke (1/day at level 3) and Darkness (1/day at level 5).
                        </div>
                    </div>
                </div>
                    <hr />
                <div class="creationInformationBorder">
                    <div id="backgroundList" class="text-center creationInformationHeader">Background List</div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Acolyte">Acolyte</mark></strong>
                        </div>
                        <div class="text-justify">
                            You have spent your life in the service of a temple to a specific god or pantheon of gods.
                            You act as an intermediary between the realm of the holy and the mortal world, performing sacred rites and offering sacrifices in order to conduct worshipers into the presence of the divine.
                            You are not necessarily a cleric - performing sacred rites is not the same thing as channeling divine power.
                            Choose a god, a pantheon of gods, or some other quasi-divine being from among those listed in appendix B or those specified by your DM, and work with your DM to detail the nature of your religious service.
                            Were you a lesser functionary in a temple, raised from childhood to assist the priests in the sacred rites?
                            Or were you a high priest who suddenly experienced a call to serve your god in a different way?
                            Perhaps you were the leader of a small cult outside of any established temple structure, or even an occult group that served a fiendish master that you now deny.<br/>
                            <strong>Proficiencies:</strong> Insight, Religion, 2 Languages
                        </div>
                    </div>
                    
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Charlatan">Charlatan</mark></strong>
                        </div>
                        <div class="text-justify">
                            You have always had a way with people.
                            You know what makes them tick, you can tease out their hearts' desires after a few minutes of conversation, and with a few leading questions you can read them like they were children's books.
                            It’s a useful talent, and one that you’re perfectly willing to use for your advantage.
                            You know what people want and you deliver, or rather, you promise to deliver.
                            Common sense should steer people away from things that sound too good to be true, but common sense seems to be in short supply when
                            you’re around.<br/>
                            <strong>Proficiencies:</strong> Deception, Sleight of Hand, Forgery Kit, Disguise Kit
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Criminal">Criminal</mark></strong>
                        </div>
                        <div class="text-justify">
                            You are an experienced criminal with a history of breaking the law.
                            You have spent a lot of time among other criminals and still have contacts within the criminal underworld.
                            You’re far closer than most people to the world of murder, theft, and violence that pervades the underbelly of civilization, and you have survived up to this point by flouting the rules and regulations of society.<br/>
                            <strong>Proficiencies:</strong> Deception, Stealth, Gaming Set, Thieves Tools
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Entertainer">Entertainer</mark></strong>
                        </div>
                        <div class="text-justify">
                            You thrive in front of an audience.
                            You know how to entrance them, entertain them, and even inspire them.
                            Your poetics can stir the hearts of those who hear you, awakening grief or joy, laughter or anger.
                            Your music raises their spirits or captures their sorrow.
                            Your dance steps captivate, your humor cuts to the quick.
                            Whatever techniques you use, your art is your life.
                            <br/><strong>Proficiencies:</strong> Acrobatics, Performace, Disguise Kit, Musical Instrument
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Folk Hero" class="FolkHero">Folk Hero</mark></strong>
                        </div>
                        <div class="text-justify">
                            You come from a humble social rank, but you are destined for so much more.
                            Already the people of your home village regard you as their champion, and your destiny calls you to stand against the tyrants and monsters that threaten the common folk everywhere.
                            <br/><strong>Proficiencies:</strong> Animal Handling, Artisan Tool, Survival, Vehicles (land)
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Guild Artisan" class="GuildArtisan">Guild Artisan</mark></strong>
                        </div>
                        <div class="text-justify">
                            You are a member of an artisan’s guild, skilled in a particular field and closely associated with other artisans.
                            You are a well-established part of the mercantile world, freed by talent and wealth from the constraints of a feudal social order.
                            You learned your skills as an apprentice to a master artisan, under the sponsorship of your guild, until you became a master in your own right.
                            <br/><strong>Proficiencies:</strong> Insight, Persuasion, Artisan Tool, Language
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Hermit">Hermit</mark></strong>
                        </div>
                        <div class="text-justify">
                            You lived in seclusion—either in a sheltered community such as a monastery, or entirely alone—for a formative part of your life.
                            In your time apart from the clamor of society, you found quiet, solitude, and perhaps some of the answers you were looking for.
                            <br/><strong>Proficiencies:</strong> Medecine, Religion, Herbalism Kit
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Noble">Noble</mark></strong>
                        </div>
                        <div class="text-justify">
                            You understand wealth, power, and privilege.
                            You carry a noble title, and your family owns land, collects taxes, and wields significant political influence.
                            You might be a pampered aristocrat unfamiliar with work or discomfort, a former merchant just elevated to the nobility, or a disinherited scoundrel with a disproportionate sense of entitlement.
                            Or you could be an honest, hard-working landowner who cares deeply about the people who live and work on your land, keenly aware of your responsibility to them.
                            <br/><strong>Proficiencies:</strong> History, Persuasion, One Board-Game
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Outlander">Outlander</mark></strong>
                        </div>
                        <div class="text-justify">
                            You grew up in the wilds, far from civilization and the comforts of town and technology.
                            You’ve witnessed the migration of herds larger than forests, survived weather more extreme than any city-dweller could comprehend, and enjoyed the solitude of being the only thinking creature for miles in any direction.
                            The wilds are in your blood, whether you were a nomad, an explorer, a recluse, a hunter-gatherer, or even a marauder.
                            Even in places where you don’t know the specific features of the terrain, you know the ways of the wild.
                            <br/><strong>Proficiencies:</strong> Athletics, Survival, Musical Instrument
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Sage">Sage</mark></strong>
                        </div>
                        <div class="text-justify">
                            You spent years learning the lore of the multiverse.
                            You scoured manuscripts, studied scrolls, and listened to the greatest experts on the subjects that interest you.
                            Your efforts have made you a master in your fields of study.
                            <br/><strong>Proficiencies:</strong> Arcana, History, 2 Languages
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Sailor">Sailor</mark></strong>
                        </div>
                        <div class="text-justify">
                            You sailed on a seagoing vessel for years.
                            In that time, you faced down mighty storms, monsters of the deep, and those who wanted to sink your craft to the bottomless depths.
                            Your first love is the distant line of the horizon, but the time has come to try your hand at something new.
                            <br/><strong>Proficiencies:</strong> Athletics, Perception, Navigator's Tools, Vehicles (water)
                        </div>
                    </div>
                    <div class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Soldier">Soldier</mark></strong>
                        </div>
                        <div class="text-justify">
                            War has been your life for as long as you care to remember.
                            You trained as a youth, studied the use of weapons and armor, learned basic survival techniques, including how to stay alive on the battlefield.
                            You might have been part of a standing national army or a mercenary company, or perhaps a member of a local militia who rose to prominence during a recent war.
                            <br/><strong>Proficiencies:</strong> Athletics, Intimidation, One Board-Game, Vehicles (land)
                        </div>
                    </div>
                    <div id="bottom" class="row largeText classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Urchin">Urchin</mark></strong>
                        </div>
                        <div class="text-justify">
                            You grew up on the streets alone, orphaned, and poor.
                            You had no one to watch over you or to provide for you, so you learned to provide for yourself.
                            You fought fiercely over food and kept a constant watch out for other desperate souls who might steal from you.
                            You slept on rooftops and in alleyways, exposed to the elements, and endured sickness without the advantage of medicine or a place to recuperate.
                            <br/><strong>Proficiencies:</strong> Sleight of Hand, Stealth, Disguise Kt, Thieves Tools
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-xs-1 col-md-2">
                <div id="bumpUpLink" style="opacity: 0;" class="panel panel-defualt bumpUpLink affix fadeOut">
                    <div class="btn-group-vertical vertNavBarDiv" id="vertNavBarDiv">
                        <button type="button" class="btn largeText vertNavBar vnbButton" ng-click="controller.jumpTo('top')">
                            <i class="fa fa-chevron-circle-up"></i></button>
                        <button type="button" class="btn largeText vertNavBar vnbButton" ng-click="controller.jumpTo('classList')">
                            <i class="fa fa-cog"></i></button>
                        <button type="button" class="btn largeText vertNavBar vnbButton" ng-click="controller.jumpTo('raceList')">
                            <i class="fa fa-user-circle-o"></i></button>
                        <button type="button" class="btn largeText vertNavBar vnbButton" ng-click="controller.jumpTo('backgroundList')">
                            <i class="fa fa-id-card"></i></button>
                        <button type="button" class="btn largeText vertNavBar vnbButton" ng-click="controller.jumpTo('bottom')">
                            <i class="fa fa-chevron-circle-down"></i></button>
                    </div>
                </div>  
            </div>
    </div>

</div>
<style>
    mark{
        background-color: lightgoldenrodyellow;
    }
</style>
