<div class="container">
    <div>
        <a href="/dungeon" class="center-block btn-info btn-sm active text-center">Dungeon Master Page</a>
        <pre title="{{controller.message.author}}"><center>{{controller.message.text}}</center></pre>
    </div><br/>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4><u>Whats New</u></h4></div>
                <div class="panel-body">
                    <dl>
                        <dt>Version 1.2</dt>
                        <dd>Dungeon Master page added, Dungeon Master Beta app added.<sup class="subscript">JHM</sup></dd>
                        <dt>Version 1.1</dt>
                        <dd>Nicknames added, 'My Characters' page added, and updated ability score readout.<sup class="subscript">JHM</sup></dd>
                        <dt>Version 1.0</dt>
                        <dd>Updated creation form, security update, and Autofill option added.<sup class="subscript">JHM</sup></dd>
                    </dl>
                    <h4><u>Newest Hero</u></h4>
                    <dl>
                        <dd ng-repeat="item in controller.dndResource | orderBy: item.Id : true | limitTo: 1">
                            <span class="badge">{{item.name}}</span><sup class="subscript"> {{item.author}}</sup></br>
                            {{item.race}} {{item.class}}</br>
                            <span title="{{controller.abilityTitles[0]}}">{{controller.parseAbilityScores(item.abilityScores,0)}}</span> /
                            <span title="{{controller.abilityTitles[1]}}">{{controller.parseAbilityScores(item.abilityScores,1)}}</span> /
                            <span title="{{controller.abilityTitles[2]}}">{{controller.parseAbilityScores(item.abilityScores,2)}}</span> /
                            <span title="{{controller.abilityTitles[3]}}">{{controller.parseAbilityScores(item.abilityScores,3)}}</span> /
                            <span title="{{controller.abilityTitles[4]}}">{{controller.parseAbilityScores(item.abilityScores,4)}}</span> /
                            <span title="{{controller.abilityTitles[5]}}">{{controller.parseAbilityScores(item.abilityScores,5)}}</span>

                            <br/>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h4><u>Character List</u></h4></div>
                <div class="panel-body">
                    <dl>
                        <dt ng-repeat="item in controller.dndResource"><span class="badge">{{item.id}}</span> {{item.name}} the {{item.race}} {{item.class}}<sup><span class="subscript" id="superscript">{{item.author}}</span></sup></dt>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md3"></div>
    </div>
</div>
<style>
    .panel {
        padding: 5px;
    }
</style>