<div class="modal-header">
    <h2 class="panel-header">Instructions</h2>
</div>
<div class="modal-body" ng-click="controller.close()">
    <h4 class="text-center">Why does creating a character need to be so difficult?</h4>
    <ul class="list-group instructionsList">
        <li class="list-group-item"><strong>Fill out the form</strong><br/>
        Select an option by clicking inside the input field, and again on a option from the dropdown menu. Select a option for the race, class, background, and optional subrace category before moving on.</li>
        <li class="list-group-item"><strong>More Information</strong><br />
        Scroll down to view descriptions of available classes, races, subraces, and backgrounds.</li>
        <li class="list-group-item"><strong>Specific information <i class="fa fa-cog"></i> <i class="fa fa-user-circle-o"></i>
                                        <i class="fa fa-user-circle spinIcon1"></i> <i class="fa fa-id-card-o"></i></strong><br />
        If you would like information on a specific option, select it in the dropdown menu, and then click the categories corresponding logo.</li>
    </ul>
</div>