<div class="container">
    <div class="row">
        <div class="col-xs-2 col-md-3 col-lg-3"></div>
        <div class="col-xs-8 col-md-6 col-lg-6">
            <div uib-alert close="controller.closeValidation($index)" ng-repeat="error in controller.validationMessages">
                {{error}}
            </div>
            <div class="panel pandel-default text-center" id="socialProvidersPanel">
                <ul class="list-inline list-unstyled socialProviders">
                    <li ng-repeat="externalLogin in account.externalLogins" class="socialProvider">
                        <a target="_self" href="/api/account/ExternalLogin?provider={{externalLogin.authenticationScheme}}&returnUrl=/" class="{{externalLogin.displayName}}">
                            <i class="{{controller.icons[externalLogin.displayName]}}"></i> {{externalLogin.displayName}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-header">Login</h2>
                </div>
                <div class="panel-body">
                    <fieldset>

                        <form ng-submit="controller.login()" name="loginForm" novalidate>
                            <div>
                                <label class="inputlabel formLabel"><u>Username</u></label>
                                <input class="form-control logininput creationFormInput" name="username" ng-model="controller.loginUser.email" style="text-align:center;" maxlength="10" ng-required="true" />
                                <span ng-show="loginForm.username.$touched && loginForm.username.$error.required" class="error">
                                    enter a username
                                </span>
                            </div>
                            <div>
                                <label class="inputlabel formLabel"><u>Password</u></label>
                                <input class="form-control logininput creationFormInput" name="password" type="password" ng-model="controller.loginUser.password" ng-focus="controller.usernameCheck(controller.loginUser.email)" style="text-align:center;" maxlength="20" ng-required="true" />
                                <span ng-show="loginForm.password.$touched && loginForm.password.$error.required" class="error">
                                    enter a password
                                </span>
                            </div>
                            <input class="btn btn-info btn-lg btn-block" type="submit" value="Login" id="loginbutton" ng-disabled="loginForm.$invalid" />
                        </form>
                            <div class="text-center largeText" id="registerMessage"><small>
                                <span class="tableRow">Dont have an account?</span> <a href="/register">Register!</a></small></div>

                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-3 col-lg-3"></div>
    </div>
</div>
<style>
    #loginLink{
        display:none;
    }
</style>