<div class="modal-body largeText" ng-click="controller.close()">
        <div class="modal-header text-center"><strong>What are Proficiencies?</strong></div>
        <br/>
            When you are proficient, you get to add your proficiency bonus
            to any roll associated with that skill. For example, if you are proficient in athletics,
            you are able to add your proficiency bonus (+2) when making an athletics check to vault over a high wall.
            When it comes to armor and weapons, proficiency simply means you can use them without negative consequences.
</div>