<div class="container">
    <div class="row">
        <div class="col-xs-2 col-md-3 col-lg-3"></div>
        <div class="col-xs-8 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Login
                </div>
                <div class="panel-body">
                    heres where you login
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-3 col-lg-3"></div>
    </div>
</div>
<fieldset>
<center>
    <ul id="loginerrors">
        <li ng-repeat="message in controller.validationMessages">
            {{message}}
        </li>
    </ul>

    <form ng-submit="controller.register()">
        <div>
            <label class="inputlabel"><u>Email</u></label>
            <input class="form-control logininput" ng-model="controller.registerUser.email" style="text-align:center;" maxlength="40"/>
        </div>
        <div>
            <label class="inputlabel"><u>Username</u></label>
            <input class="form-control logininput" ng-model="controller.registerUser.username" style="text-align:center;" maxlength="10"/>
        </div>
        <div>
            <label class="inputlabel"><u>Password</u></label>
            <input class="form-control logininput" type="password" ng-model="controller.registerUser.password" style="text-align:center;" maxlength="20"/>
        </div>
        <div>
            <label class="inputlabel"><u>Confirm Password</u></label>
            <input class="form-control logininput" type="password" ng-model="controller.registerUser.confirmPassword" style="text-align:center;" maxlength="20"/>
        </div>
        <input class="btn btn-default" type="submit" value="Register" id="loginbutton" /><br /><br />
    </form>
</center>
</fieldset>