<div class="container">
    <div class="row">
        <div class="col-xs-2 col-md-3 col-lg-3"></div>
        <div class="col-xs-8 col-md-6 col-lg-6">
            <div uib-alert close="controller.closeValidation($index)" ng-repeat="error in controller.validationMessages">
                {{error}}
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-header">Register</h2>
                </div>
                <div class="panel-body noPaddingTop">
                    <fieldset>
                        <form ng-submit="controller.register()" name="registerForm" id="registerForm" novalidate>
                            <div>
                                <label class="inputlabel formLabel"><u>Email</u></label>
                                <input name="email" class="form-control logininput creationFormInput" placeholder="Enter Email" 
                                       ng-model="controller.registerUser.email" style="text-align:center;" maxlength="40" ng-required="true"/>
                            </div>
                            <div>
                                <label class="inputlabel formLabel"><u>Username</u></label>
                                <input name="username" class="form-control logininput creationFormInput" placeholder="Enter  Username"
                                        ng-model="controller.registerUser.username" style="text-align:center;" maxlength="15" ng-required="true"/>
                            </div>
                            <div>
                                <label class="inputlabel formLabel"><u>Password</u></label>
                                <input name="password" class="form-control logininput creationFormInput" type="password" placeholder="Enter Password"
                                        ng-model="controller.registerUser.password" style="text-align:center;" maxlength="20" ng-required="true"/>
                            </div>
                            <div>
                                <label class="inputlabel" id="confirmPassLabel"><u>Confirm Password</u></label>
                                <input name="confirmPassword" class="form-control logininput creationFormInput" type="password" placeholder="Re-Enter Password"
                                        ng-model="controller.registerUser.confirmPassword" style="text-align:center;" maxlength="20" ng-required="true"/>
                            </div>
                            <button class="btn btn-info btn-lg btn-block" type="submit" id="registerbutton" ng-disabled="registerForm.$invalid || controller.pending">
                               <span ng-show="!controller.pending">Register</span><i class="fa fa-refresh fa-spin" ng-show="controller.pending"></i></button>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-3 col-lg-3"></div>
    </div>
</div>
<style>
    #loginLink {
        display: none;
    }
</style>