<div class="container"><br/>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div uib-alert close="controller.closeValidation($index)" ng-repeat="error in controller.validationMessages">
                {{error}}
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-center">
                        <h2 class="panel-header-scaleable">
                            <span>{{controller.title}}</span>
                            <span>{{controller.createdCharacter[0]}}</span>
                            <span>{{controller.createdCharacter[3]}}</span>
                        </h2>
                        <i class="fa fa-info-circle creationInstructions" tooltip-placement="bottom" tooltip-class="hugeText"
                           uib-tooltip="{{controller.tooltip.message}}" tooltip-is-open="{{controller.tooltip.open}}" ng-click="controller.showModal()"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <div>
                        <!--ABILITY SCORES-->
                        <table class="table abilityTable">
                            <tbody>
                                <tr class="abilitySwapTable lowOpacity">
                                    <td class="strColor opacityHover" ng-click="controller.jumpTo('Strength')"><span class="abilityScoreSwapDisplay">Str</span></td>
                                    <td class="dexColor opacityHover" ng-click="controller.jumpTo('Dexterity')"><span class="abilityScoreSwapDisplay" >Dex</span></td>
                                    <td class="conColor opacityHover" ng-click="controller.jumpTo('Constitution')"><span class="abilityScoreSwapDisplay" >Con</span></td>
                                    <td class="intColor opacityHover" ng-click="controller.jumpTo('Intelligence')"><span class="abilityScoreSwapDisplay" >Int</span></td>
                                    <td class="wisColor opacityHover" ng-click="controller.jumpTo('Wisdom')"><span class="abilityScoreSwapDisplay" >Wis</span></td>
                                    <td class="chaColor opacityHover" ng-click="controller.jumpTo('Charisma')"><span class="abilityScoreSwapDisplay" >Cha</span><br /></td>
                                </tr>
                                <tr class="abilityScoreSwapDisplay abilitySwapTable">
                                    <td class="strColor" id="td_trait1">
                                        <span title="STR"><a ng-click="controller.firstclick('trait1')" id="trait1" href="#">{{controller.trait1}}</a></span>
                                        <span id="strength"></span><span id="racialmod" class="badge">{{controller.STR}}</span><span id="potentialStrMod" name="potentialMod"><a ng-click="controller.addTrait(0)">{{controller.potentialMods[0]}}</a></span>
                                    </td>
                                    <td class="dexColor" id="td_trait2">
                                        <span title="DEX" ><a ng-click="controller.firstclick('trait2')" id="trait2" href="#">{{controller.trait2}}</a></span>
                                        <span id="dexterity"></span><span id="racialmod" class="badge">{{controller.DEX}}</span><span id="potentialDexMod" name="potentialMod"><a ng-click="controller.addTrait(1)">{{controller.potentialMods[1]}}</a></span>
                                    </td>
                                    <td class="conColor" id="td_trait3">
                                        <span title="CON" ><a ng-click="controller.firstclick('trait3')" id="trait3" href="#">{{controller.trait3}}</a></span>
                                        <span id="constitution"></span><span id="racialmod" class="badge">{{controller.CON}}</span><span id="potentialConMod" name="potentialMod"><a ng-click="controller.addTrait(2)">{{controller.potentialMods[2]}}</a></span>
                                    </td>
                                    <td class="intColor" id="td_trait4">
                                        <span title="INT" ><a ng-click="controller.firstclick('trait4')" id="trait4" href="#">{{controller.trait4}}</a></span>
                                        <span id="intelligence"></span><span id="racialmod" class="badge">{{controller.INT}}</span><span id="potentialIntMod" name="potentialMod"><a ng-click="controller.addTrait(3)">{{controller.potentialMods[3]}}</a></span>
                                    </td>
                                    <td class="wisColor" id="td_trait5">
                                        <span title="WIS" ><a ng-click="controller.firstclick('trait5')" id="trait5" href="#">{{controller.trait5}}</a></span>
                                        <span id="wisdom"></span><span id="racialmod" class="badge">{{controller.WIS}}</span><span id="potentialWisMod" name="potentialMod"><a ng-click="controller.addTrait(4)">{{controller.potentialMods[4]}}</a></span>
                                    </td>
                                    <td class="chaColor" id="td_trait6">
                                        <span title="CHA" ><a ng-click="controller.firstclick('trait6')" id="trait6" href="#">{{controller.trait6}}</a></span>
                                        <span id="charisma"></span><span id="racialmod" class="badge">{{controller.CHA}}</span><span id="potentialChaMod"><a ng-click="controller.addTrait(5)">{{controller.potentialMods[5]}}</a></span>
                                    </td>
                                </tr>
                                <tr class="abilityScoreMods lowOpacity">
                                    <td id="abMod0" class="strColor"></td>
                                    <td id="abMod1" class="dexColor"></td>
                                    <td id="abMod2" class="conColor"></td>
                                    <td id="abMod3" class="intColor"></td>
                                    <td id="abMod4" class="wisColor"></td>
                                    <td id="abMod5" class="chaColor"></td>
                                </tr>
                            </tbody>
                        </table>
                        <p id="optionalMessage"></p>
                    </div>
                    <div class="text-center tipText">
                        <p><strong>Tip: as a {{controller.createdCharacter[0]}} you should have high scores in {{controller.primaryAbilities(controller.createdCharacter[0])}}.</strong></p>
                    </div>
                    <div>
                        <form class="form-inline noMarginBottom" ng-submit="controller.showModalSubmit()">
                            <input placeholder="Character Name" id="newCharacterNameInput" class="form-control" ng-model="controller.characterName" maxlength="15" autocomplete="off"/>
                            <button type="submit" class="btn btn-info btn-lg btn-block" id="saveFormSubmit" ng-disabled="controller.pending">
                            <span ng-show="!controller.pending">Save</span><i class="fa fa-refresh fa-spin" ng-show="controller.pending"></i>
                            </button>
                        </form>
                        <!--<input type="checkbox" ng-model="controller.checkBoxValue" />
                        <b>Auto-Fill</b></br></br>-->
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-header">Proficiencies</h3>
                    <i class="fa fa-info-circle creationInstructions" ng-click="controller.showModalProficiencies()"></i>
                </div>
                <div class="panel-body largeText">
                        <!--<dl>
                            <dt>Subrace Abilities: </dt>
                             <dd>{{controller.subraceabilities}}</dd>
                       </dl>-->

                       <table class="table">
                           <tbody>
                               <tr>
                                   <td class="proficiencyTableLabel">{{controller.title}}</td>
                                   <td><mark id="subracialProficiencies">{{controller.subrace}}</mark></td>
                               </tr>
                               <tr>
                                   <td class="proficiencyTableLabel">{{controller.createdCharacter[0]}}</td>
                                   <td ng-repeat="item in controller.classProficiencies | filter: controller.class"><mark id="classproficiencies">
                                       {{item.Proficiencies}}</mark></td>
                               </tr>
                               <tr>
                                   <td class="proficiencyTableLabel">{{controller.createdCharacter[3]}}</td>
                                   <td ng-repeat="item in controller.additionalProficiencies | filter: controller.background"><mark id="subraceproficiencies">
                                       {{item.Proficiencies}}</mark></td>
                               </tr>
                           </tbody>
                        </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-header">Ability Scores</h3></div>
                <div class="panel-body largeText smallPadding">
                    <div class="row classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Strength">Strength</mark></strong>
                        </div>
                        <div class="text-justify">
                            Strength measures bodily power,
                            athletic training, and the extent to which you can exert raw physical force.
                            You typically use Strength to climb, jump, swim, strike a foe with a melee weapon,
                            break down doors, lift gates, and burst restraints.
                            Any character who fights in hand-to-hand combat can benefit from a high Strength score.
                            Fighters and other warriors, therefore, prefer high Strength scores.
                        </div>
                    </div>
                    <div class="row classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Dexterity">Dexterity</mark></strong>
                        </div>
                        <div class="text-justify">
                            Dexterity measures your character's physical agility,
                            reflexes, balance, and poise. You typically use Dexterity to perform an acrobatic action,
                            such as maintaining balance while moving across a precarious surface,
                            contorting your body to wriggle through a tight space, striking a distant foe using a projectile,
                            or slipping free from bindings.
                            Rogues and other characters who wear light armor prefer high Dexterity scores,
                            since it helps them avoid enemy attacks.
                            A character might also use Dexterity when making attacks with certain weapons:
                            bows, slings, and the like.
                            Any character who wants to react to danger quickly can benefit from a high Dexterity score.
                        </div>
                    </div>
                    <div class="row classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Constitution">Constitution</mark></strong>
                        </div>
                        <div class="text-justify">
                            Constitution measures your health and durability.
                            You typically use Constitution to hold your breath,
                            do a forced march, run a long distance, and perform a strenuous activity for a long period.
                            All characters benefit from having a high Constitution score.
                        </div>
                    </div>
                    <div class="row classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Wisdom">Wisdom</mark></strong>
                        </div>
                        <div class="text-justify">
                            Wisdom reflects how attuned you are to your surroundings,
                            representing general perceptiveness, intuition, insight, and other, less tangible senses.
                            Wisdom is also important for understanding divine edicts and expectations.
                            Although Wisdom is important to all characters who want to be alert,
                            Wisdom is especially important to clerics and druids,
                            since the ability is crucial for channeling divine power from the gods and the environment.
                        </div>
                    </div>
                    <div class="row classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Intelligence">Intelligence</mark></strong>
                        </div>
                        <div class="text-justify">
                            Intelligence describes your mental acuity, your education, and your ability to reason,
                            recall information, and employ logic to overcome challenges and complications.
                            You typically use Intelligence to remember an important fact, find clues to a puzzle,
                            or cast an arcane spell. Arcane magic, such as that used by wizards,
                            often requires a keen mind for mastery and thus Intelligence is most important to such characters.
                        </div>
                    </div>
                    <div class="row classInformation">
                        <div class="creationInformationTableLabel">
                            <strong><mark id="Charisma">Charisma</mark></strong>
                        </div>
                        <div class="text-justify">
                            Charisma measures your ability to influence others and the strength of your personality.
                            A high Charisma suggests a strong sense of purpose,
                            whereas a low Charisma indicates a less self-assured personality.
                            Charisma also determines how well you lead those who follow you.
                            All characters benefit from a high Charisma,
                            especially those who deal with nonplayer characters, such as hirelings, henchmen,
                            and intelligent monsters.
                            Charisma is also important to spellcasters who manipulate magical power through sheer force of will.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<style>
    mark {
        background-color: lightgoldenrodyellow;
    }
</style>