<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <br/>
            <div class="row myCharacterRow panel panel-default" ng-repeat="item in controller.secrets | filter: account.getUserName()">
                    <div class="col-sm-4">
                        <div class="latestHeroStatblock text-center tableRow">
                            <span class="badge nameBadge">{{item.name}}</span><br />
                            <strong class="latestHeroRaceClass">{{item.race}} {{item.class}}</strong><br />
                            <span class="abilityScoreDisplay strColor">Str</span>
                            <span class="abilityScoreDisplay dexColor">Dex</span>
                            <span class="abilityScoreDisplay conColor">Con</span>
                            <span class="abilityScoreDisplay intColor">Int</span>
                            <span class="abilityScoreDisplay wisColor">Wis</span>
                            <span class="abilityScoreDisplay chaColor">Cha</span><br />
                            <span title="{{controller.abilityTitles[0]}}" class="strColor">{{controller.parseAbilityScores(item.abilityScores,0)}}</span> /
                            <span title="{{controller.abilityTitles[1]}}" class="dexColor">{{controller.parseAbilityScores(item.abilityScores,1)}}</span> /
                            <span title="{{controller.abilityTitles[2]}}" class="conColor">{{controller.parseAbilityScores(item.abilityScores,2)}}</span> /
                            <span title="{{controller.abilityTitles[3]}}" class="intColor">{{controller.parseAbilityScores(item.abilityScores,3)}}</span> /
                            <span title="{{controller.abilityTitles[4]}}" class="wisColor">{{controller.parseAbilityScores(item.abilityScores,4)}}</span> /
                            <span title="{{controller.abilityTitles[5]}}" class="chaColor">{{controller.parseAbilityScores(item.abilityScores,5)}}</span>
                        </div>
                    </div>
                    <div class="col-sm-8 largeText tableRow">
                        <strong>Proficiencies: </strong>{{item.proficiencies}}<br />
                        <strong>Abilities: </strong>{{item.abilities}}<br />
                    </div>
            </div>
            



            <!--<dl>
                <dd ng-repeat="item in controller.secrets | filter: account.getUserName()">
                    <u>{{item.name}}</u><br />
                    {{item.race}} {{item.class}} {{item.background}} <br />
                    <span title="{{controller.abilityTitles[0]}}">{{controller.parseAbilityScores(item.abilityScores,0)}}</span> /
                    <span title="{{controller.abilityTitles[1]}}">{{controller.parseAbilityScores(item.abilityScores,1)}}</span> /
                    <span title="{{controller.abilityTitles[2]}}">{{controller.parseAbilityScores(item.abilityScores,2)}}</span> /
                    <span title="{{controller.abilityTitles[3]}}">{{controller.parseAbilityScores(item.abilityScores,3)}}</span> /
                    <span title="{{controller.abilityTitles[4]}}">{{controller.parseAbilityScores(item.abilityScores,4)}}</span> /
                    <span title="{{controller.abilityTitles[5]}}">{{controller.parseAbilityScores(item.abilityScores,5)}}</span>
                    <br />
                    Proficiencies: {{item.proficiencies}}<br />
                    Abilities: {{item.abilities}}<br />
                    Ideals: {{controller.parseIbf(item.ibf)[0]}}<br />
                    Bonds: {{controller.parseIbf(item.ibf)[1]}}<br />
                    Flaws: {{controller.parseIbf(item.ibf)[2]}}<br />
                    Speed: {{item.speed}}<br />
                    Spellslots: {{item.spellSlots}}<br />
                    Equipment: <span ng-click="account.editbox()">edit</span><span ng-click="controller.simplesave(item)">save</span><br/>
                    <textarea id="equipmenttextarea" ng-model="item.equipment" ng-disabled="account.equipmentActive">{{item.equipment}}</textarea><br />
                    

                </dd>
            </dl>-->
        </div>
    </div>
</div>
